*
{
    padding: 0px;
    margin: 0px;
}
body{
        background-color: aqua;

}
.container
{
    box-sizing: border-box;
    height:100vh;
}
.list
{
    background-color: rgb(11, 168, 168);
    width: 100vh;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
   
}
ul {
  margin: 0;
  padding-left: 15px;
  list-style-position: inside;
  display: grid;
  grid-template-columns: auto;
}

input
{
    width:100vh;
    height: 40px;
    margin: 0px;
}
button
{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    
}
#heading
{
    font-size:30px;
   
}